.padre{
    display:flex;
    gap: 2px;
    padding: 12px;
    height: 100vh;
}

.sidebar{
    background-color: aquamarine;
    flex-grow: 1;
    justify-content: left;
    
}

.contenido{
    background-color: lightgreen;
    flex-grow: 3;
}